<div style="position: relative;">
	<pre><code class="language-grew">{{ trim .Inner "\n\r" }}</code>{{ with .Get "key1" }}
<i class="bi-layout-three-columns" style="font-size: 1rem;"></i>&nbsp;<span style="text-shadow:none; background-color: #bfd1e7;"><code> {{ . }} </code></span>{{ end }}{{ with .Get "whether1" }}
<i class="bi-arrows-expand-vertical" style="font-size: 1rem;"></i>&nbsp;<span style="text-shadow:none; background-color: #bfd1e7;"></i><code> {{ . }} </code></span>{{ end }}{{ with .Get "key2" }}
<i class="bi-layout-three-columns" style="font-size: 1rem;"></i>&nbsp;<span style="text-shadow:none; background-color: #bfd1e7;"><code> {{ . }} </code></span>{{ end }}{{ with .Get "whether2" }}
<i class="bi-arrows-expand-vertical" style="font-size: 1rem;"></i>&nbsp;<span style="text-shadow:none; background-color: #bfd1e7;"></i><code> {{ . }} </code></span>{{ end }}</pre>
	<button class="btn-clipboard" onclick="grew_match_cluster({{ trim .Inner "\n\r" }}, {{ .Get "key1" }}, {{ .Get "whether1" }}, {{ .Get "key2" }}, {{ .Get "whether2" }})">
		<img src="{{ .Site.BaseURL }}/images/square_g.svg" alt="Grew-match" width="18" height="18"> 
	</button>
</div>
